{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">สินค้าแนะนำ</h2>
    <div class="row">
        {% for p in products %}
        <div class="col-md-4 mb-4">
            <div class="card product-card">
                <img src="{{ p.img }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ p.name }}</h5>
                    <p class="card-text text-primary">{{ p.price }} บาท</p>
                    <button class="btn btn-outline-dark">หยิบลงตะกร้า</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}